h1{
    text-align: center;
    font-family: fantasy;
    color: crimson;
    font-size: 50px;
}
img{  
width: 380px;
height: 400px;
text-align: center;
}
video{
    height: 1000px;
    width: 1000px;
    margin: auto;
    margin-bottom: auto;
    text-align: center;
}
body{
    background-color: coral;
}
ul{
    list-style: none;
}
marquee{
    color: black;
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
    font-weight: 30px;
}
#menu{
    width: 1000px;
    height: 40px;
    text-align: center;
    margin: auto auto;
}
li{
    display: inline-block;
    padding: 10px;
    color: white;
    margin-left: 10PX ;
    color: black;

}
li:hover{
    background-color: crimson;
    color: black;
}
ul{
    text-align: center;
    padding: 0px
}
#entete{
    background-image: url("cap1.jpg");
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    padding-top: 0px;
    padding-top: 0px;
    height: 200px;
    margin: auto;
    width: 1000px;
td{
   font-family: fantasy;
   font-size: 25px;
}